<div class="d-flex flex-column gap-2">
    <MudText Typo="Typo.h4">@L["Two-factor authentication"]</MudText>
    <MudDivider />
    <MudAlert Severity="Severity.Info">
        @L["Because of your contributions on GitHub, two-factor authentication will be required for your account starting Sep 21, 2023. Thank you for helping keep the ecosystem safe! Learn more about our two-factor authentication initiative."]
    </MudAlert>
    <MudText>@L["Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to sign in. Learn more about two-factor authentication."]</MudText>
    <MudCard Class="mt-4">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5">@L["Two-factor methods"]</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudList T="string">
                <MudListItem>
                    <div class="d-flex flex-row justify-space-between align-content-center">
                        <div>
                            <div class="d-flex flex-row gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.Phone"></MudIcon>  <MudText Color="Color.Primary">@L["Authenticator app"]</MudText>
                            </div>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@L["Use an authentication app or browser extension to get two-factor authentication codes when prompted."]</MudText>
                        </div>
                        <MudSwitch Value="false" Color="Color.Primary" />
                    </div>
                </MudListItem>
                <MudListItem>
                    <div class="d-flex flex-row justify-space-between align-content-center">
                        <div>
                            <div class="d-flex flex-row gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.Message"></MudIcon>  <MudText Color="Color.Primary">
                                    @L["SMS/Text message"]
                                </MudText>
                            </div>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@L["Get one-time codes sent to your phone via SMS to complete authentication requests."]</MudText>
                        </div>
                        <MudSwitch Value="false" Color="Color.Primary" />
                    </div>
                </MudListItem>
            </MudList>
        </MudCardContent>
    </MudCard>
</div>

@code {

}
